arrow==1.4.0
binaryornot==0.4.4
blinker==1.9.0
certifi==2026.5.20
chardet==5.2.0
charset-normalizer==3.4.7
click==8.1.8
colorama==0.4.6
cookiecutter==2.6.0
dash==4.3.0
dash_grid_layout==1.0.5
-e git+https://github.com/ringle63/MGS_GSA_Plotter.git@ba318bcad033aec8bd8b20006d83027647caf27f#egg=dash_rgl&subdirectory=dash_rgl_outer
et_xmlfile==2.0.0
Flask==3.1.3
idna==3.18
importlib_metadata==8.7.1
itsdangerous==2.2.0
janus==2.0.0
Jinja2==3.1.6
markdown-it-py==3.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
narwhals==2.21.0
nest-asyncio==1.6.0
numpy==2.0.2
openpyxl==3.1.5
packaging==26.2
pandas==2.3.3
plotly==6.8.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytz==2026.2
PyYAML==6.0.3
requests==2.32.5
retrying==1.4.2
rich==15.0.0
scikit-learn==1.6.1
scipy==1.13.1
six==1.17.0
text-unidecode==1.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.6.3
Werkzeug==3.1.8
zipp==3.23.1
﻿annotated-types==0.7.0
